certifi==2025.1.31
click==6.7
dotmap==1.2.20
Flask==1.0.2
Flask-Sijax==0.4.1
future==0.16.0
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
lupa>=1.7
MarkupSafe
pyFirmata2==2.0.1
pymata-aio==2.34
pymodbus==1.5.2
pyserial==3.4
python-vlc==3.0.4106
pyusb==1.0.2
pywin32
schedule==0.6.0
sentry-sdk==2.26.1
Sijax==0.3.2
six==1.11.0
transitions==0.6.8
urllib3==1.26.20
websockets==8.1
Werkzeug==0.14.1

sentry-sdk
urllib3<2.0 # due to old OpenSSL